#app {
  height: 100vh;
  background-color: aliceblue;
  display: grid;
  grid-template-rows: .8fr 1.2fr;
  overflow-y: auto;
}

.section-title {
  font-size: 1.5rem;
}

#app>div {
  padding: 2rem;
}

table {
  border-collapse: collapse;
  border: 2px solid rgba(0, 0, 0, .7);
}

table>thead {
  color: #dcdffb;
  background-color: #8795fe;
  padding: .2rem;
}

table>tbody>tr:nth-child(even) {
  background: #d6d9f6;
}

#cpf {
  width: 50%;
}
